/* styles.css */

header {
    background: white;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.steps {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.step {
    flex: 1 1 calc(30.333% - 40px);
    box-sizing: border-box;
    padding: 3px;
    background:#fff;
    border:none;
    border-radius: 5px;

}

.step img {
    width: 50%;
    height: auto;
    border-radius: 5px;
}
.contact-form {
    margin-top: 20px;
}

.contact-form h2 {
    margin-bottom: 10px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form label {
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.contact-form button {
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.contact-form button:hover {
    background: #0056b3;
}
img#imagelast{
    display: flex;
    top: 20rem;
    width: 80%;
}

img#custom{
    display: flex;
    width: 50%;
}